:root {
    --ff-inter: 'Inter', sans-serif;
    --fw-reg: 400;
    --fw-semi-bold: 700;
    --fw-bold: 800;
    --fs-p: 15px;

    --clr-accent: hsl(35, 77%, 62%);
    --clr-cta: hsl(5, 85%, 63%);
    --clr-bg: hsl(36, 100%, 99%);
    --clr-light-grey: hsl(233, 8%, 79%);
    --clr-dark: hsl(236, 13%, 42%);
    --clr-very-dark: hsl(240, 100%, 5%);

}

body {
    font-family: var(--ff-inter);
    background-color: var(--clr-bg);
}

.position-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section {
    margin: 32px 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 1rem;
}

.logo {
    width: 56px;
}

.hamburger {
    display: block;
}

.nav {
    display: none;
}

li {
    list-style-type: none;
}

li>a {
    text-decoration: none;
    color: var(--clr-dark);
    font-size: 0.875rem;
    font-weight: var(--fw-reg);
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 1rem;
    gap: 1.5rem;
    margin-top: 0;
}

.hero-image-mobile {
    display: block;
}

.hero-image-desktop {
    display: none;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    line-height: 2.5rem;
    color: var(--clr-very-dark);
}

.hero-text {
    font-size: var(--fs-p);
    color: var(--clr-dark);
}

.hero-button {
    width: 182px;
    background-color: var(--clr-cta);
    color: var(--clr-bg);
    font-size: 14px;
    font-weight: var(--fw-reg);
    text-transform: uppercase;
    letter-spacing: .26rem;
    height: 48px;
    border: 1px;
    cursor: pointer;
    overflow: hidden;
    padding: 0px;
    touch-action: manipulation;
}

.latest-posts-section {
    background-color: var(--clr-very-dark);
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: var(--fs-p);
    padding: 0 1.2rem;
    gap: 1.5rem;
    margin: 1rem;
}

.latest-posts-headline {
    font-size: xx-large;
    color: var(--clr-accent);
    margin-top: 1rem;
}

.latest-posts-section .post-title {
    color: var(--clr-bg);
}

.latest-posts-section .post-text {
    color: var(--clr-light-grey);
}

.latest-posts-section>.post:last-child {
    padding-bottom: 2rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.post-title {}

.post-text {}

hr {
    color: var(--clr-dark);
    height: 1px;
    margin: 1rem 0;
}

.sticky-posts-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: var(--fs-p);
    gap: 1.5rem;
    margin: 1rem;
}

.sticky-post {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-areas: " A  B"
        " A  C"
        " A  D";
}

.sticky-post-img {
    grid-area: A;
}

.sticky-post-number {
    grid-area: B;
    color: var(--clr-light-grey);
    font-size: 2rem;
    font-weight: var(--fw-semi-bold);
    padding-left: 25px;
}

.sticky-post-title {
    grid-area: C;
    color: var(--clr-very-dark);
    font-weight: var(--fw-bold);
    padding-left: 25px;
    display: flex;
    align-items: center;

}

.sticky-post-text {
    grid-area: D;
    color: var(--clr-dark);
    padding-left: 25px;
}

@media screen and (min-width:500px) {
    body {
        margin: 40px 138px;
    }

    /** resets **/
    section {
        margin: 0;
    }

    .hero-image-mobile {
        display: none;
    }

    .hero-image-desktop {
        display: block;
        max-height: 400px;
        /* width: 608px;  */
    }

    .hamburger {
        display: none;
    }

    .nav {
        display: block;
        width: 50%;
    }


    .top-level-nav {
        display: grid;
        grid-auto-flow: column;
    }

    li {
        list-style-type: none;
    }

    .position-container {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows:     1fr 1fr 1fr;
        grid-template-areas:" hero hero new "
                            " hero hero new "
                            " top  top  top ";
    }

    .hero-section {
        grid-area: hero;
        display: grid;
        grid-template-columns:  1fr  1fr;
        grid-template-rows:     minmax(300px, 1fr) 90px  auto;
        grid-template-areas:    " img    img "
                                " title  text"
                                " title  btn "
    } 
        .hero-image {
            grid-area: img ;
        }
        .hero-title {
            grid-area: title ;
            font-size: 3.3rem;
            line-height: 3.3rem;
            max-width: 400px;
        }
        .hero-text {
            grid-area: text ;
            align-self: center;
        }
        .hero-button {
            grid-area: btn ;
            align-self:self-end;
        }

    .latest-posts-section {
        grid-area: new;
        margin: 0;
    }

    .sticky-posts-section {
        grid-area: top;
        flex-direction: row;
    }


}








.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}